
.user-menu,
#block-system-user-menu {
    @include show-for(large);
    .menu a {
        @extend .button;
        margin: .5px;
    }
}
.menu-name-user-menu {
    display: flex;
}
.search-dropdown__button {

    margin-bottom: 0;
padding: 0.7rem 1rem;
margin-right: .5px;
margin-left: .5px;

}


//.user-menu,
//%user-menu {

    //&__menu-item {

    //}
    //&__icon {
        //display:initial;
        //width: 1rem;
    //}



//}


//// =========================
//// There be dragons
//// =========================
//#block-system-user-menu {
    ////@extend %user-menu;
    //img {
        //@extend %user-menu__icon;
    //}
//}





//// =========================
